<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MediaManager-20121105125418;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="Pluto11g" connectionString="Data Source=//172.16.0.232:1521/mnetqa;User Id=MN_CATCHUP_QA1025;Password=MN_CATCHUP_QA1025;" providerName="Oracle.DataAccess.Client" />-->
    <add name="Pluto11g" connectionString="Data Source=//172.16.0.232:1521/mnetdev;User Id=MN_MediaManager_0102;Password=MN_MediaManager_0102;" providerName="Oracle.DataAccess.Client" />
    <add name="elmah-oracle" connectionString="Data Source=****;User ID=****;Password=****;" />
  </connectionStrings>
  <elmah>
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.OracleErrorLog, Elmah" connectionStringName="Pluto11g" schemaOwner="" />
  </elmah>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FullyQualifiedName" value=".nihilent.com"/>
    <add key ="DomainName" value="FPS"/>
  </appSettings>
  <system.web>
    <globalization culture="en-US"/>
    <httpHandlers>

      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />

    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <remove name="RoleManager"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Account/Login" timeout="1440" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ZeroCacheProfile"
               duration="0"
               varyByParam="None"
               location="None" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--<customErrors mode="On" defaultRedirect="Error">
      <error statusCode="404" redirect="FailLoad" />
    </customErrors>-->
    <customErrors mode="Off"></customErrors>
    <sessionState mode="InProc" timeout="1440" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="RoleManager"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CallContextEndpointBehavior">
          <CallContextExtension />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CallContextExtension" type="MediaManager.Infrastructure.WCFIntegration.CallContextBehaviorExtensionElement, MediaManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointTCP" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:59:00" sendTimeout="00:10:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Acquisition/AcquisitionLookupService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="AcquisitionLookupService.IAcquisitionLookupService"
        name="EndPointTCPAcquisitionLookup">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Acquisition/DealMemoService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="DealMemoService.IDealMemo"
        name="EndPointTCPDealMemo">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Common/InfrastructureService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="InfrastructureService.IInfrastructure"
        name="EndPointTCPInfrastructure">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Budgeting/BudgetingLookupService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="BudgetingLookupService.IBudgetingLookupService"
        name="EndPointTCPBudgetingLookup">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Common/ReportingService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="ReportingService.IReporting"
        name="EndPointTCPReporting">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Scheduling/SchedulingOperationsServices.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="SchedulingOperationsServices.ISchedulingOperations"
        name="EndPointTCPSchedulingOperations">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/SystemAdmin/SystemAdminService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="SystemAdminService.ISystemAdmin"
        name="EndPointTCPSystemAdmin">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Common/LookupsService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="LookupsServices.ILookups"
        name="EndPointTCPLookupsService">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Acquisition/LicenseService.svc"
        binding="netTcpBinding" bindingConfiguration="EndPointTCP" contract="LicenseService.ILicense"
        name="EndPointTCPLicenseService">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/MediaManagement/ProgrammeLibraryService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="ProgrammeLibraryServices.IProgrammeLibrary"
        name="EndPointTCPProgrammeLibrary">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/MediaManagement/MediaManagementLookupServices.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="MediaManagementLookupServices.IMediaManagementLookups"
        name="EndPointTCPMediaManagementLookup">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Acquisition/ContractLicenseLookupService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="ContractLicenseLookupService.IContractLicenseLookupService"
        name="EndPointTCPContractLicenseLookup">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/Acquisition/GeneralProgrammingService.svc"
        behaviorConfiguration="CallContextEndpointBehavior" binding="netTcpBinding"
        bindingConfiguration="EndPointTCP" contract="GeneralProgrammingService.IGeneralProgramming"
        name="EndPointTCPGeneralProgramming">
      </endpoint>
      <endpoint address="net.tcp://ntvmsynrpt0389.fps.nihilent.com/MediaManagerServices/MediaManagerLibrary/LibraryMaintenanceService.svc"
        binding="netTcpBinding" bindingConfiguration="EndPointTCP"  behaviorConfiguration="CallContextEndpointBehavior"
        contract="MediaManagerLibraryService.ILibraryMaintainence" name="EndPointTCPLibraryMaintenance">
      </endpoint>
    </client>
  </system.serviceModel>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>-->
</configuration>
