@{
    ViewBag.Title = "LicenseReview";
}

<h2>LicenseReview</h2>
<!DOCTYPE html>
<html>

<body>

    <div >
     
       
       <table id="tblLicense" align="center" width="80%">
           
            <tr>
                <td>
                    Program Title
                </td>
                <td>
                    <input name="txtProgramTitle" type="text" id="txtProgramTitle" style="width:150px" />
                </td>
                <td>
                    Producer
                </td>
                <td>
                    <input name="txtProducer" type="text" id="txtProducer"  style="width:150px"  />
                </td>
                <td>
                    Year
                </td>
                <td>
                    <input name="txtYear" type="text" id="txtYear"  style="width:150px"  />
                </td>
            </tr>

            <tr>
                <td>
                    Program Type
                </td>
                <td>
                    <input name="txtProgramType" type="text" id="txtProgramType" style="width:150px" />
                </td>
                <td>
                    Category
                </td>
                <td>
                    <input name="txtCategory" type="text" id="txtCategory"  style="width:150px"  />
                    <img id="imgMethodId" src="../../../../Images/lov_up_arrow.png" />
                </td>
                <td>
                    Code
                </td>
                <td>
                    <input name="txtCode" type="text"   id="txtCode"  style="width:150px"  />
                   
                </td>
            </tr>

            <tr>
                <td>
                    Ref. No
                </td>
                <td>
                    <input name="txtRefno" type="text" id="txtRefno" style="width:150px" />
                </td>
                <td>
                    Series
                </td>
                <td>
                    <input name="txtSeries" type="text" id="txtSeries"  style="width:150px"  />
                </td>
                <td>
                   
                </td>
                <td colspan="1">
                    
                   
                </td>
            </tr>

            
     <tr>
      <td>
           <label><input  id="chkPremium"  type="checkbox" />Premium</label>
      </td>

      <td align="right" style="margin-left:35%" colspan="6">
          <input id="btnSearch" type="submit" value="Search" /> &nbsp;
     
          <input id="btnReset" type="button" value="reset" /></td>
     </tr>

        </table>
   
     

       
    </div>

    <div>
      <table>
       <tr>
        <td>
           Grid View
        </td>
       </tr>
      </table>
    </div>

    <div>
       <table>
       <tr>
        <td>
           Grid View
        </td>
       </tr>
      </table>
    </div>

    <div>
     <table>
      <tr>
       <td></td>
       <td></td>
       <td></td>
      </tr>
     
     </table>
    </div>

              


</body>
</html>
