@model MediaManager.Areas.Acquisition.ViewModels.DealMemoUserMaintenanceViewModel

@{
    ViewBag.Title = "Index";
    Layout = MediaManager.Infrastructure.Helpers.SharedPages.LayoutPage;
}

<h2>Index</h2>
