<div class="tabDiv1">
    <table class="maxwidth">
        <tr>
            <td colspan="4">
                Right Particulars
            </td>
        </tr>
        <tr>
            <td width="25%">
            </td>
            <td width="10%">
                <label>
                    <input type="checkbox" />
                    Border Rights</label>
            </td>
            <td width="20%">
                <label>
                    <input type="checkbox" />
                    Time Shift Channels Allowed</label>
            </td>
            <td width="45%">
                <label>
                    <input type="checkbox" />
                    Simulcast Channels Allowed</label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                Open Time Rights
            </td>
        </tr>
        <tr>
            <td width="25%">
            </td>
            <td width="75%" colspan="3">
                <label>
                    <input type="checkbox" />
                    Open Time Exhibition Allowed</label>
            </td>
        </tr>
        <tr>
            <td width="25%">
                Exclusivity
            </td>
            <td width="75%" colspan="3">
                <div class="ui-widget">
                    <select id="DropdownExclusivity" style="-webkit-appearance: menulist">
                        <option value="">Select</option>
                        <option value="Exclusive">Exclusive</option>
                        <option value="Exclusive">Non-Exclusive</option>
                        <option value="NA">NA</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td width="25%">
                Exhibition Days For Open Time
            </td>
            <td width="75%" colspan="3">
                <input type="text" id="txtExhibitionDays" class="txtLarge" />
            </td>
        </tr>
        <tr>
            <td width="25%">
                For Pay TV
            </td>
            <td width="75%" colspan="3">
                <input type="text" id="txtForPayTV" class="txtLarge" />
            </td>
        </tr>
        <tr>
            <td width="25%">
                Others
            </td>
            <td width="75%" colspan="3">
                Other Television Services-Specify any other Rights Requests
            </td>
        </tr>
        <tr>
            <td width="25%">
                
            </td>
            <td width="75%" colspan="3">
            <br />
              <textarea id="txtOtherRights" style="width:430px; height:60px"></textarea>
            </td>
        </tr>
    </table>
</div>
