@model MediaManager.Areas.Acquisition.ViewModels.DealMemoMaintenanceViewModel
<table class="Layout">
    <tr>
        <td>
           <div class="subHeading" style="padding:0px;">
                                  Rights Granted & Foreign Language Versions
                            </div>

        
        </td>

    </tr>
    <tr>
        <td>
            <div id="LanguageGrid"  style="height: 390px;">
            </div>
          
        </td>
    </tr>   
    <tr>
        <td>
            <button type="submit" name="btnLanguages" class="inputButton" onclick="defaultLanguages()">
                Set Default Languages</button>
        </td>
    </tr>
</table>
<div id="LanguageLOV" title="Language Details">
</div>
