@model MediaManager.Areas.Acquisition.ViewModels.DealMemoMaintenanceViewModel

<table class="tableLayout">
    <tr>
        <td>
            <div class="subHeading" style="padding:0px;">
                Previous Actions
            </div>                  
        </td>
    </tr>
    <tr>
        <td>
            <div id="HistoryGrid"  style="height: 400px;" >
            </div>
        </td>
    </tr>
     <tr>
        <td>
            <button type="submit"  class="inputButton" style="visibility:hidden" >
                </button>
        </td>
    </tr>    
</table>
<div >
</div>


